// As seen in http://wilsonmar.com/1loadrun.htm
<map name="rptng_map">
<area shape="rect" coords="0,0,71,44" href="http://www.wilsonmar.com/1lrscript.htm" alt="Scripts">
<area shape="rect" coords="56,52,129,94" href="http://www.wilsonmar.com/1loadrun.htm#RuntimeSettingz" alt="Run-time Settings">
<area shape="rect" coords="0,83,54,150" href="http://www.wilsonmar.com/1loadrun.htm#VuGenRec" alt="VuGen">
<area shape="rect" coords="22,148,92,184" href="http://www.wilsonmar.com/1loadrun.htm#Extractionz" alt="Capture and Record">
<area shape="rect" coords="71,187,166,218" href="http://www.wilsonmar.com/1loadrun.htm#TestTypez" alt="Java Clients">
<area shape="rect" coords="66,221,147,250" href="http://www.wilsonmar.com/1loadrun.htm#BizProcessez" alt="IE Clients">
<area shape="rect" coords="202,277,335,308" href="http://www.wilsonmar.com/1loadrun.htm#RunResultz" alt="Client Emulation">
<area shape="rect" coords="106,309,267,350" href="http://www.wilsonmar.com/1loadrun.htm#Metricz" alt="Server/Environment Under Test">
<area shape="rect" coords="175,82,247,144" href="http://www.wilsonmar.com/1loadrun.htm#Controllerz" alt="LoadRunner Controller">
<area shape="rect" coords="295,84,349,148" href="http://www.wilsonmar.com/1loadrun.htm#Analysisz" alt="LoadRunner Analysis">
<area shape="rect" coords="175,0,251,49" href="http://www.wilsonmar.com/1loadrun.htm#Scenarioz" alt="Scenarios">
<area shape="rect" coords="193,36,272,64" href="http://www.wilsonmar.com/1loadrun.htm#Schedulez" alt="Schedules">
<area shape="rect" coords="286,0,358,45" href="http://www.wilsonmar.com/1loadrun.htm#Graphz" alt="Reports and Graphs">
<area shape="rect" coords="397,0,474,31" href="http://www.wilsonmar.com/1loadrun.htm#Conclusionz" alt="Microsoft Word">
<area shape="rect" coords="397,46,474,89" href="http://www.wilsonmar.com/1loadrun.htm#Analysisz" alt="Internet browser">
<area shape="rect" coords="398,131,474,157" href="http://www.wilsonmar.com/1loadrun.htm#Analysisz" alt="Microsoft Excel">
<area shape="rect" coords="383,179,474,211" href="http://www.wilsonmar.com/1loadrun.htm#Analysisz" alt="Microsoft Access">
<area shape="rect" coords="387,220,474,261" href="http://www.wilsonmar.com/1loadrun.htm#Analysisz" alt="Crystal Reports">
<area shape="rect" coords="377,272,474,314" href="http://www.wilsonmar.com/hp_mercury_diagnostics.htm" alt="Mercury Diagnostic Probes">
<area shape="rect" coords="199,213,460,272" href="http://www.wilsonmar.com/1loadrun.htm#RunResultz" alt="Load Generators">
<area shape="rect" coords="309,175,348,198" href="http://www.wilsonmar.com/1loadrun.htm#RunResultz" alt="Analysis Logs">
<area shape="rect" coords="98,125,175,148" href="http://www.wilsonmar.com/1loadrun.htm#Monitorz" alt="Monitors">
<area shape="rect" coords="180,169,216,187" href="http://www.wilsonmar.com/1loadrun.htm#LogFilez" alt="Run Result Logs">
</map><img usemap=1loadrun.htm#rptng_map" alt="" 
	align="right" src="http://wilsonmar.com/docs/LRIntro.jpg" width="475" height="369" border="0">