[Evangelist index](/evangelist)

0. Job Description
0. Resumes

0. Evangelism plan
0. [Budget spreadsheet](/evangelist/budget/)
0. Milestones
0. GANTT chart
0. Calendar of events

0. Competitive Strategy
0. Target Customers
0. Customer References
0. Proof Points

0. Product website
0. Product wiki
0. User Forums
0. Email database

0. Announcements
0. Social Media
0. Surveys

0. Product Roadmap
0. Release Schedule
0. Tasks
0. Issues

0. Enviornments for development, testing, demos, training, etc.
0. Demo presentation scripts
0. Betas
0. Release Notes

0. Tutorials
0. Webinars
0. Live Classes
0. Video Production
0. Video Distribution

0. Spiffs
0. Hackathons
0. Participating in Conferences
0. Running Conferences

0. Recruitment follow-up
