* [Evangelist index](/evangelist)

* Job Description
* Resumes
* Evangelism plan
* [Budget spreadsheet](/evangelist/budget/)

* Competitive Strategy
* Target Customers
* Customer References
* Proof Points

* Product website
* User Forums
* Announcements
* Social Media
* Surveys

* Roadmaps
* Tasks
* Betas
* Issues

* Demo and Sample Rigs (Enviornments)
* Demo presentation scripts

* Video Production
* Video Distribution
* Webinars
* Live Classes

* Spiffs
* Hackathons
* Participating in Conferences
* Running Conferences

* Recruitment follow-up
