0. [Job Descriptions](/evangelist-job-description)
0. Resumes

0. Evangelism plan
0. [Budget spreadsheet](/budget-for-evangelism)
0. Bang-for-the-buck Comparions

0. Calendar of Events
0. Calendar of Announcements <!--](/announcements-calendar-for-evangelists) -->
0. Milestones

0. Hash tag planning
0. [Social Media](/social-media-for-evangelism)

0. Sentiment analysis (of favorable words or not)
0. Responses to social media
0. Press mentions

0. Competitive Comparisons (by analysts and others)
0. Competitive Strategy
0. Competitive Comparison Kit (for people to run for themselves)

0. Target Customers
0. Customer References
0. Proof Points
0. Email databases

0. Product websites
0. Product wikis
0. User Forums (Google, LinkedIn, Reddit, etc.)
0. Surveys

0. Product Roadmaps
0. Release Schedule
0. Tasks
0. Issues

0. Enviornments for development, testing, demos, training, etc.
0. Demo presentation scripts
0. Betas
0. Release Notes

0. Tutorials
0. Webinars
0. Live Classes
0. Video Productions
0. Video Distribution

0. Spiffs
0. Hackathons
0. Participating in Conferences
0. Running Conferences
0. Dynamic projections of tweets, etc.

0. Recruitment follow-up
